<h2 mat-dialog-title>{{ data.location }} Forecast</h2>
<mat-dialog-content class="mat-typography">
	<div id="root">
		<mat-button-toggle-group  #group="matButtonToggleGroup" [value]="columns[0]">
			<mat-button-toggle *ngFor="let element of columns" 
			(click)="onWeekChange(element)" [value]="element" aria-label="Text align left">
				{{ element }}
			</mat-button-toggle>
		</mat-button-toggle-group>
	<table>
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th matTooltip="Temperature (Celsius)">T</th>
				<th matTooltip="Minimal temperature (Celsius)">MI</th>
				<th matTooltip="Maximal temperature (Celsius)">MX</th>
				<th matTooltip="Atmospheric pressure on the sea level (hPa)">P</th>
				<th matTooltip="Humidity (%)">H</th>
				<th matTooltip="Cloudiness (%)">C</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let element of rows">
				<td>{{ getHour(element.timestamp) }}</td>
				<td>{{ element.temp }}</td>
				<td>{{ element.temp_min }}</td>
				<td>{{ element.temp_max }}</td>
				<td>{{ element.pressure }}</td>
				<td>{{ element.humidity }}</td>
				<td>{{ element.cloudiness }}</td>
			</tr>
		</tbody>
	</table>
</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
