<div *ngIf="data.length > 0; else message">
  <h1>Current mesurement ({{ data[0].records[0].timestamp }})</h1>
  <table>
    <thead>
      <tr>
        <th>Location</th>
        <th>Temp</th>
        <th>Min. temp</th>
        <th>Max. temp</th>
        <th>Pressure</th>
        <th>Humidity</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of data" (click)="openDetails(element)">
        <td>{{ element.location }}</td>
        <td>{{ element.records[0].temp }}</td>
        <td>{{ element.records[0].temp_min }}</td>
        <td>{{ element.records[0].temp_max }}</td>
        <td>{{ element.records[0].pressure }}</td>
        <td>{{ element.records[0].humidity }}</td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #message>
  <div class="message">
    No locations to display
  </div>
</ng-template>