<div *ngIf="data.length > 0">
  <h1>Current measurement ({{ data[0].records[0].timestamp }})</h1>
  <table>
    <thead>
      <tr>
        <th>Location</th>
        <th matTooltip="Temperature (Celsius)">Temp</th>
        <th matTooltip="Minimal temperature (Celsius)">Min. temp</th>
        <th matTooltip="Maximal temperature (Celsius)">Max. temp</th>
        <th matTooltip="Atmospheric pressure on the sea level (hPa)">Pressure</th>
        <th matTooltip="Humidity (%)">Humidity</th>
        <th matTooltip="Cloudiness (%)">Cloudiness</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of data" (click)="openDetails(element)">
        <td>{{ element.location }}</td>
        <td>{{ element.records[0].temp }}</td>
        <td>{{ element.records[0].temp_min }}</td>
        <td>{{ element.records[0].temp_max }}</td>
        <td>{{ element.records[0].pressure }}</td>
        <td>{{ element.records[0].humidity }}</td>
        <td>{{ element.records[0].cloudiness }}</td>
      </tr>
    </tbody>
  </table>
</div>