<div class="general">
  <div>
  	<h1 *ngIf="graphData.length > 0">{{ forecastingTitle }}</h1>
    <mat-grid-list cols="3">
      <mat-grid-tile colspan="2">
        <app-forecast-graph style="width: 100%" [data]="graphData" [labels]="graphLabels" [unitsLabel]="unitsLabel" #graphic></app-forecast-graph>
      </mat-grid-tile>
      <mat-grid-tile class="manager">
        <app-manager-dialog (onSubmit)="updateDisplay()" [settings]="globalSettings"></app-manager-dialog>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div>
    <app-forecast-table [data]="tableData"></app-forecast-table>
  </div>
</div>