<div id="root">
    <div class="flex">
      <div class="flex-item">
        <div style="display: block;">
        <canvas *ngIf="data.length > 0" baseChart width="200" height="100"
                    [datasets]="data"
                    [labels]="labels"
                    [options]="lineChartOptions"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins"></canvas>
        </div>
      </div>
    </div>
</div>